{{- define "main" }}
  {{- if or (.Params.useTag) (.Params.useCategory)}}
    <header class="page-header">
      <h1>{{ .Title }}</h1>
      {{- if .Description }}
      <div class="post-description">
        {{ .Description }}
      </div>
      {{- end }}
    </header>
    {{- if .Params.useCategory }}{{/* category */ -}}
      {{- range $.Site.Taxonomies.categories.ByCount }}
        {{- $name := .Name }}
        {{- $count := .Count }}
        {{- with $.Site.GetPage (printf "/%s/%s" "categories" $name) }}
          <article class="post-entry" title="{{- i18n $name }}">
            <header class="entry-header">
              <h2>📄 {{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup></h2>
            </header>
            <section class="entry-content">
              <p>{{- i18n $name }}</p>
            </section>
            <a class="entry-link" aria-label="{{ .Name }}" href="{{ .Permalink }}"></a>
          </article>
        {{- end }}
      {{- end }}
    {{- else if .Params.useTag }}{{/* tag */ -}}
      {{- range $.Site.Taxonomies.tags.ByCount }}
        {{- $name := .Name }}
        {{- $count := .Count }}
        {{- with $.Site.GetPage (printf "/%s/%s" "tags" $name) }}
          <article class="post-entry" title="{{- i18n $name }}">
            <header class="entry-header">
              <h2>📄 {{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup></h2>
            </header>
            <section class="entry-content">
              <p>{{- i18n $name }}</p>
            </section>
            <a class="entry-link" aria-label="{{ .Name }}" href="{{ .Permalink }}"></a>
          </article>
        {{- end }}
      {{- end }}
    {{- end }}
  {{- else }}{{/* custom */ -}}
    {{- if .Title }}
      <header class="page-header">
        <h1>{{ .Title }}</h1>
        {{- if .Description }}
        <div class="post-description">
          {{ .Description }}
        </div>
        {{- end }}
      </header>
    {{- end }}
    {{- range .Params.menu }}
      <article class="post-entry" title="{{ .description }}">
        {{- if not .cover.hidden }}
          <figure class="collection-cover">
            <img loading="lazy" src="{{ (.cover.image) | absURL }}" alt="{{ .cover.alt }}">
          </figure>
        {{- end }}
        <header class="entry-header">
          <h2>{{ .title }}</h2>
        </header>
        <section class="entry-content">
          <p>{{ .description }}</p>
        </section>
        <a class="entry-link" aria-label="{{ .title }}" href="{{ .url }}"></a>
      </article>
    {{- end }}
  {{- end }}
{{- end }}{{/* end main */ -}}