{{- define "main" }}
  {{- if .Params.use}}
    <header class="page-header">
      <h1 class="series-title">{{ .Title }}</h1>
      {{- if .Description }}
      <div class="post-description">
        <h2 class="series-description">{{ .Description }}</h2>
        <div class="series-sub-description-wrapper">
          {{- if .Params.subDescription1 }}
          <h4 class="series-sub-description">{{ .Params.subDescription1 }}</h4>
          {{- end }}
          {{- if .Params.subDescription2 }}
          <h4 class="series-sub-description">{{ .Params.subDescription2 }}</h4>
          {{- end }}
          {{- if .Params.subDescription3 }}
          <h4 class="series-sub-description">{{ .Params.subDescription3 }}</h4>
          {{- end }}
        <div>
      </div>
      {{- end }}
      {{- if .Params.cover.image }}
        <figure class="series-cover">
          <img loading="lazy" src="{{ (.Params.cover.image) | absURL }}" alt="{{ .Params.cover.alt }}">
        </figure>
      {{- end }}
    </header>
    {{- $seriesCover := .Params.seriesCover }}
    {{- range $.Site.Taxonomies.series.ByCount }}
      {{- $name := .Name }}
      {{- $count := .Count }}
      
      {{- with $.Site.GetPage (printf "/%s/%s" "series" $name) }}
        <article class="post-entry" title="{{- i18n $name }}">
          {{ $seriesTitle := .Name }}
          {{ $seriesId := index (split .Permalink "/") (sub (len (split .Permalink "/")) 2) }}
          {{- range where $seriesCover "name" $seriesTitle }}
            {{- if .image }}
              <figure class="series-content-cover">
                <img loading="lazy" src="{{ .image | absURL }}" alt="{{ .alt }}">
              </figure>
            {{- end }}
          {{- end }}

          <header class="entry-header">
            <h2>🗂️ {{ $seriesTitle }} <sup><strong><sup>{{ $count }}</sup></strong></sup></h2>
          </header>
          <section class="entry-content">
            <p>{{- i18n $name }}</p>
          </section>
          
          {{- range $taxonomy_term, $taxonomy := .Site.Taxonomies}}
            {{- if (eq $taxonomy_term "series") }}
              {{- range $key, $value := $taxonomy }}
                {{ if (eq $seriesId $key) }}
                  {{ with (index $value.Pages (sub (len $value.Pages) 1)) }}
                    <a class="entry-link" aria-label="{{ $seriesTitle }}" href="{{ .Permalink }}"></a>
                  {{- end }}
                {{- end }}
              {{- end }}
            {{- end }}
          {{- end }}
          
          <ul class="post-tags">
            {{- range $taxonomy_term, $taxonomy := .Site.Taxonomies}}
              {{- if (eq $taxonomy_term "chapter") }}
                {{- range $key, $value := $taxonomy }}
                  {{ $_splitChapter := split $key "-chapter-" }}
                  {{ $_seriesId := index $_splitChapter 0 }}
                  {{ $_chapterNumber := index $_splitChapter 1 }}
                  {{ with (index $value.Pages (sub (len $value.Pages) 1)) }}
                    {{ if (eq $seriesId $_seriesId) }}
                      {{ $_chapterLink := .Permalink }}
                      {{- range where $seriesCover "name" $seriesTitle }}
                        {{- range .chapter }}
                          {{- if (eq .id $key) }}
                          <li>
                            <a class="button chapter-link-button" href="{{ $_chapterLink }}">{{ $_chapterNumber }} 장 {{ .title }}</a>
                          </li>
                          {{- end }}
                        {{- end }}
                      {{- end }}
                    {{ end }}
                  {{- end }}
                {{- end }}
              {{- end }}
            {{- end }}
          </ul>
          
        </article>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}{{/* end main */ -}}