{{- define "main" }}
{{- if .Title }}
<header class="page-header">
  <h1>태그 🏷️</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>
{{- end }}

<ul class="terms-tags">
  {{- $type := .Type }}
  {{/*  {{ range $.Site.Taxonomies.tags.ByCount }}  */}}
  {{- range $key, $value := .Data.Terms.Alphabetical }}
  {{- $name := .Name }}
  {{- $count := .Count }}
  {{- with $.Site.GetPage (printf "/%s/%s" $type $name) }}

  {{/*  {{- (int (substr (string $count) 0 1)) }}  */}}

  {{/*  {{- if 1 lt (int (substr (string $count) 0 1)) }}
    크다
  {{- end }}  */}}

  {{ $fontSize := mul (add (float (print "0" (substr (string $count) 0 -1) "." (substr (string $count) -1 1))) 1) 0.8 }}

  {{- if (lt 1 $fontSize) }}
    {{- if lt 2.5 $fontSize }}
      {{ $fontSize = 2.5 }}
    {{- end }}
  {{- else }}
    {{ $fontSize = 1 }}
  {{- end }}

  <li>
    <a href="{{ .Permalink }}" style="font-size: {{ $fontSize }}rem;">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
  </li>
  {{- end }}
  {{- end }}
</ul>
{{- end }}{{/* end main */ -}}
