{{- if (.Param "ShowFontSizeButton") -}}
{{- if or .Params.author $.Site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) .IsTranslated (or .Params.editPost.URL .Site.Params.editPost.URL) (.Params.ShowCanonicalLink) }}&nbsp;&nbsp;|&nbsp;&nbsp;{{- end -}}
<span class="font-size-button">
  <svg  class="button default" id="font-size-default" width="21" height="21" viewBox="0 0 24 24">
    <path d="M7.20711 2.54289C7.59763 2.93342 7.59763 3.56658 7.20711 3.95711L5.41421 5.75H13.25C17.6683 5.75 21.25 9.33172 21.25 13.75C21.25 18.1683 17.6683 21.75 13.25 21.75C8.83172 21.75 5.25 18.1683 5.25 13.75C5.25 13.1977 5.69772 12.75 6.25 12.75C6.80228 12.75 7.25 13.1977 7.25 13.75C7.25 17.0637 9.93629 19.75 13.25 19.75C16.5637 19.75 19.25 17.0637 19.25 13.75C19.25 10.4363 16.5637 7.75 13.25 7.75H5.41421L7.20711 9.54289C7.59763 9.93342 7.59763 10.5666 7.20711 10.9571C6.81658 11.3476 6.18342 11.3476 5.79289 10.9571L2.29289 7.45711C1.90237 7.06658 1.90237 6.43342 2.29289 6.04289L5.79289 2.54289C6.18342 2.15237 6.81658 2.15237 7.20711 2.54289Z" fill="#212121"/>
  </svg>
  &nbsp;
  <svg class="button increase" id="font-size-increase" width="21" height="21" viewBox="0 0 24 24">
    <path d="M5.12,14L7.5,7.67L9.87,14M6.5,5L1,19H3.25L4.37,16H10.62L11.75,19H14L8.5,5H6.5M18,7L13,12.07L14.41,13.5L17,10.9V17H19V10.9L21.59,13.5L23,12.07L18,7Z" />
  </svg>
  &nbsp;
  <svg class="button decrease" id="font-size-decrease" width="21" height="21" viewBox="0 0 24 24">
    <path d="M5.12,14L7.5,7.67L9.87,14M6.5,5L1,19H3.25L4.37,16H10.62L11.75,19H14L8.5,5H6.5M18,17L23,11.93L21.59,10.5L19,13.1V7H17V13.1L14.41,10.5L13,11.93L18,17Z" />
  </svg>

  
</span>
<span class="display-font-size-info">100%</span>
<script>
  localStorage.setItem("post-content-font-size", 100);
  document.getElementById("font-size-increase").addEventListener("click", e => {
    if (localStorage.getItem("post-content-font-size")) {
      let _fontSize = parseInt(localStorage.getItem("post-content-font-size"));

      if (_fontSize+5 > 200) return;

      document.querySelector(".post-single .post-content").style.fontSize = (_fontSize+10) + "%";
      document.querySelector(".display-font-size-info").innerText = (_fontSize+10) + "%";
      document.querySelector(".aside-display-font-size-info").innerText = (_fontSize+10) + "%";
      localStorage.setItem("post-content-font-size", _fontSize+10);
    } else {
      document.querySelector(".post-single .post-content").style.fontSize = "105%";
      document.querySelector(".display-font-size-info").innerText = "105%";
      document.querySelector(".aside-display-font-size-info").innerText = "105%";
      localStorage.setItem("post-content-font-size", 105);
    }
  });

  document.getElementById("font-size-decrease").addEventListener("click", e => {
    if (localStorage.getItem("post-content-font-size")) {
      let _fontSize = parseInt(localStorage.getItem("post-content-font-size"));

      if (_fontSize-5 < 50) return;

      document.querySelector(".post-single .post-content").style.fontSize = (_fontSize-10) + "%";
      document.querySelector(".display-font-size-info").innerText = (_fontSize-10) + "%";
      document.querySelector(".aside-display-font-size-info").innerText = (_fontSize-10) + "%";
      localStorage.setItem("post-content-font-size", _fontSize-10);
    } else {
      document.querySelector(".post-single .post-content").style.fontSize = "95%";
      document.querySelector(".display-font-size-info").innerText = "95%";
      document.querySelector(".aside-display-font-size-info").innerText = "95%";
      localStorage.setItem("post-content-font-size", 95);
    }
  });

  document.getElementById("font-size-default").addEventListener("click", e => {
    document.querySelector(".post-single .post-content").style.fontSize = "100%";
    document.querySelector(".display-font-size-info").innerText = "100%";
    document.querySelector(".aside-display-font-size-info").innerText = "100%";
    localStorage.setItem("post-content-font-size", 100);
  });
</script>
{{- end }}
